@page
@using FeatureRequestProject.Localization
@using FeatureRequestProject.Web.Pages.FeatureRequests
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<FeatureRequestProjectResource> L
@{
    Layout = null;
}

<form asp-page="/FeatureRequests/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewFeatureRequest"].Value"></abp-modal-header>
        <abp-modal-body>

            <abp-input label="@L["Title"]" asp-for="FeatureRequest.Title" />

            <abp-input label="@L["Description"]" asp-for="FeatureRequest.Description" />

            <abp-select label="@L["Category"]" asp-for="FeatureRequest.CategoryId" />

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>